agm-map{
    height: 40vh;
}

mat-form-field{
    margin-bottom: 1vh;
}

.form{
    padding:4% 10% 10% 10%;
    width: 80%;
}

.mail{
    width: 40%;
}

.name{
    width: 20%;
}

.infoWindowTitle{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 1.7vh;
}

@media(max-width: 1000px){
    .mail{
        width: 80%;
    }
    
    .name{
        width: 50%;
    }
}

@media(max-width: 500px){
    .mail{
        width: 100%;
    }
    
    .name{
        width: 100%;
    }
}