<header class="topImage">
    <div class="mainText">
        <h1>Tongels Dorpsfeest 2020</h1>
        <h2>8, 9 en 10 mei</h2>
    </div>
</header>
<mat-grid-list cols="4" rowHeight="{{rowHeight}}" (window:resize)="onResize($event)" class="navContainer">
    <mat-grid-tile>
        <div class="navigationDiv">
            <div class="navigationImg" (click)="scroll(info)">
                <img class="linkImg" src="../../../assets/images/feast.png" alt="Info" />
            </div>
            <p class="navInfo">Info</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="navigationDiv">
            <div class="navigationImg" (click)="scroll(lineup)">
                <img class="linkImg" src="../../../assets/images/lineup.png" alt="Line Up" />
            </div>
            <p class="navInfo">lineup</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="navigationDiv">
            <div class="navigationImg" (click)="scroll(gallery)">
                <img class="linkImg" src="../../../assets/images/photo.png" alt="Foto's" />
            </div>
            <p class="navInfo">Foto's</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="navigationDiv">
            <div class="navigationImg" (click)="scroll(sponsors)">
                <img class="linkImg" src="../../../assets/images/sponsor.png" alt="Sponsors" />
            </div>
            <p class="navInfo">sponsors</p>
        </div>
    </mat-grid-tile>
</mat-grid-list>

<div class="infoDiv" #info id="info">
    <div class="infoText">
        <p class="infoTitle">Tongels Dorpsfeest 2020</p>
        <p>Voor de 34ste keer is er in het weekend van de tweede zondag van mei het Tongels Dorpsfeest. Volgende keer
            dus op vrijdag 8, zaterdag 9 en zondag 10 mei 2020. Vrijdag is er vrije toegang, zaterdag en zondag bedraagt de inkom €10.
            Met een polsbandje dat op zaterdag gekocht is hebt u zondag gratis toegang.</p>
    </div>
    <div class="infoImage">
    </div>
</div>

<div class="lineupDiv" #lineup>
    <div class="imagePdfContainer">
    <div class="lineupImage"></div>
    <a href="../../../assets/files/Line-Up.pdf" download><div class="pdfButton"><img src="../../../assets/images/pdf.png" class="pdfImage"/><p class="downloadText">download line up</p></div></a>
    </div>
    <div class="lineupText">
        <p class="lineupTitle">Programma</p>
        <mat-accordion>
            <mat-expansion-panel  (opened)="onExpand1()" (afterCollapse)="onClosed1()">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <i class="material-icons">
                            date_range
                            </i>
                    </mat-panel-title>
                    <mat-panel-description>
                        Vrijdag 8 mei
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <p class="location">Feesttent</p>
                <mat-card>
                    <mat-card-title>TUSH</mat-card-title>
                    <mat-card-subtitle>22h00</mat-card-subtitle>
                    <mat-card-content>
                        <mat-list>
                            <mat-list-item>gratis toegang</mat-list-item>
                            <mat-list-item>deuren open van 21u00 tot 01u00</mat-list-item>
                        </mat-list>
                    </mat-card-content>
                </mat-card>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="onExpand2()" (afterCollapse)="onClosed2()">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <i class="material-icons">
                            date_range
                            </i>
                    </mat-panel-title>
                    <mat-panel-description>
                        Zaterdag 9 mei
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <p class="location">Podium Variant</p>
                <mat-card>
                    <mat-card-title>De Kreunaers</mat-card-title>
                    <mat-card-subtitle>20h00</mat-card-subtitle>
                </mat-card>
                <mat-card>
                    <mat-card-title>The Silver Lining</mat-card-title>
                    <mat-card-subtitle>22h45</mat-card-subtitle>
                </mat-card>
                <mat-card>
                    <mat-card-title>Ilsen & Verhulst</mat-card-title>
                    <mat-card-subtitle>00h45</mat-card-subtitle>
                </mat-card>
                <mat-card>
                    <mat-card-title>2 Fabiola</mat-card-title>
                    <mat-card-subtitle>02h00</mat-card-subtitle>
                </mat-card>
                <p class="location">Podium Kerk</p>
                <mat-card>
                    <mat-card-title>Yellow City</mat-card-title>
                    <mat-card-subtitle>18h30</mat-card-subtitle>
                </mat-card>
                <mat-card>
                    <mat-card-title>Cliff Willy & podiumboys</mat-card-title>
                    <mat-card-subtitle>21h00</mat-card-subtitle>
                </mat-card>
                <mat-card>
                    <mat-card-title>AC 4 DC</mat-card-title>
                    <mat-card-subtitle>23h00</mat-card-subtitle>
                </mat-card>
                <mat-card>
                    <mat-card-title>Farce Fatal</mat-card-title>
                    <mat-card-subtitle>01h00</mat-card-subtitle>
                </mat-card>
                <p class="location">Feesttent</p>
                <mat-card>
                    <mat-card-title>Jeugdfuif met 3 DJ's</mat-card-title>
                    <mat-card-subtitle>22h00</mat-card-subtitle>
                </mat-card>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="onExpand3()" (afterCollapse)="onClosed3()">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <i class="material-icons">
                            date_range
                            </i>
                    </mat-panel-title>
                    <mat-panel-description>
                        Zondag 10 mei
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <p class="location">Podium Variant</p>
                <mat-card>
                    <mat-card-title>The KetnetBand</mat-card-title>
                    <mat-card-subtitle>14h30</mat-card-subtitle>
                </mat-card>
                <mat-card>
                    <mat-card-title>Willy Sommers</mat-card-title>
                    <mat-card-subtitle>17h30</mat-card-subtitle>
                </mat-card>
                <mat-card>
                    <mat-card-title>Les Copines</mat-card-title>
                    <mat-card-subtitle>19h00</mat-card-subtitle>
                </mat-card>
                <mat-card>
                    <mat-card-title>The Soulbrothers</mat-card-title>
                    <mat-card-subtitle>23h00</mat-card-subtitle>
                </mat-card>
                <mat-card>
                    <mat-card-title>Wa Kleur Hee Aaven Trakteur</mat-card-title>
                    <mat-card-subtitle>00h30</mat-card-subtitle>
                </mat-card>
                <p class="location">Podium Kerk</p>
                <mat-card>
                    <mat-card-title>de Flierenfluiters</mat-card-title>
                    <mat-card-subtitle>13h30</mat-card-subtitle>
                </mat-card>
                <mat-card>
                    <mat-card-title>Jettie Pallettie</mat-card-title>
                    <mat-card-subtitle>16h00</mat-card-subtitle>
                </mat-card>
                <mat-card>
                    <mat-card-title>Vaja Kon Diaz</mat-card-title>
                    <mat-card-subtitle>18h00</mat-card-subtitle>
                </mat-card>
                <mat-card>
                    <mat-card-title>Pussy Wilow</mat-card-title>
                    <mat-card-subtitle>20h30</mat-card-subtitle>
                </mat-card>
                <mat-card>
                    <mat-card-title>Festeyn</mat-card-title>
                    <mat-card-subtitle>22h30</mat-card-subtitle>
                </mat-card>
            </mat-expansion-panel>
        </mat-accordion>
        <a href="../../../assets/files/Line-Up.pdf" download><div class="pdfButton2"><img src="../../../assets/images/pdf.png" class="pdfImage"/><p class="downloadText">download line up</p></div></a>
    </div>
</div>

<div [style.height]="margin"></div>

<div class="imagesDiv" #gallery>
    <div class="imagesHeading">
        <p class="imagesTitle">Foto's</p>
        <p>Bekijk hier de foto's van voorgaande edities</p>
    </div>
    <div class="imageContainer">
        <img src="../../../assets/images/play.png" class="playButton" [@popOverState]="stateName()" (mouseover)="toggle()" (mouseleave)="toggle()" (click)="navigateToPictures()"/>
        <img src="../../../assets/images/gallery/5.jpg" class="imageLink" (mouseover)="toggle()" (mouseleave)="toggle()" (click)="navigateToPictures()"/>
    </div>
</div>

<div class="sponsorsDiv" #sponsors>
    <p class="sponsorTitle">sponsors</p>
    <div class="image-swiper">
        <ngx-image-swiper [config]="swiperConfig" [images]="images"></ngx-image-swiper>
      </div>
</div>