.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.hidden{
  display: none;
}

.toolbarItems a{
  display: inline-block;
  margin: 0 10px;
  color: white;
}

.toolbarItems a:hover{
  text-shadow: 3px 3px 5px #000000;
}

.sloganSpan{
  margin-right: 5%;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 1.5vh;
}

.spacer{
  flex: 1 1 auto;
}

.logo{
  height: 75%;
}

mat-toolbar {
  height: 100px !important;
  min-height: 100px !important;
}

.active-link{
  font-weight: 900;
}

a{
  text-decoration: none;
  color: black !important;
  font-family: Arial, Helvetica, sans-serif;
}

@media(max-width: 1000px){
  mat-toolbar {
    height: 75px !important;
    min-height: 75px !important;
  }
}

@media(max-width: 500px){
  mat-toolbar {
    height: 50px !important;
    min-height: 50px !important;
  }
}
