.container{
    padding: 5%;
}

.title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 3vh;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    margin-left: 2%;
}

a:hover{
    font-size: 2vh;
}

.link{
    margin-left: 2%;
    color: rgb(177, 177, 177);
}