<div class="container">
<p class="title">Kern-Comité</p>
<p>n 1987 werd het "Tongels Dorpsfeest" geboren,naar een idee van Jan Michiels die samen met Erik Van Eynde en Willy Van Eysendeyk, tussen pot en pint in het legendarisch restaurant "den Toerist"beslisten,om na de ter ziele gegane lichtstoet van Tongerlo in de jaren 60, opnieuw een openluchtfeest te organiseren tijdens de meikermis. Na 30 edities bestaat het huidige kerncomite uit 5 personen: bezieler Jan Michiels, Jan Martens,Conny Van Dyck,Hans Hufkens en Jules Baerts. Zij werken belangeloos talloze uren als hobby,in hun vrije tijd aan de jaarlijkse voorbereiding van dit unieke dorpsfeest,onder voogdij van een tiental Tongelse deelnemende verenigingen die nog steeds de eindbeslissingen nemen tijdens de maandelijkse vergaderingen,met 1 of 2 afgevaardigden per deelnemende vereniging. Ook de samenwerking met onze lokale en regionale sponsors blijft een onmisbaar gegeven om sociale consumptie- en toegangsprijzen en een sfeervol programma mogelijk te maken.</p>
<p class="title">deelnemende Verenigingen</p>
<p>Organisatiecomité met deelnemende Tongelse verenigingen voor het 34 ste Tongels Dorpsfeest op zaterdag 13 mei en zondag 14 mei 2020,</p>
<mat-list [@listStagger]='groups.length' class="groups">
    <mat-list-item *ngFor="let group of groups" class="group">
      {{group}}
</mat-list-item>
</mat-list>
</div>
